<nav class="fh5co-nav" role="navigation">

  <div class="top-menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div id="fh5co-logo">
            <a routerLink="home">
              <img src="./assets/Images/ominira.png">
            </a>
            </div>
        </div>
        <div class="col-xs-10 text-right menu-1">
          <ul>
            <li class="active"><a routerLink="/">Home</a></li>
            <li class="has-dropdown">
              <a routerLink="/courses">Cursos</a>
              <ul class="dropdown">
                <li><a routerLink="/courses/frances">Francês</a></li>
                <li><a routerLink="/courses/ingles">Inglês</a></li>
                <li><a routerLink="/courses/arabe">Árabe</a></li>
                <li><a routerLink="/courses/latim">Latim</a></li>
                <li><a routerLink="/courses/yoruba">Yorubá</a></li>
                <li><a routerLink="/courses/kiswahili">Kiswahili</a></li>
                <li><a routerLink="/courses/crioulo">Crioulo</a></li>
                <li><a routerLink="/courses/fon">Fon</a></li>
                <li><a routerLink="/courses/espanhol">Espanhol</a></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a routerLink="/teachers">Professores</a>
              <ul class="dropdown">
                <li><a routerLink="/teachers/kamal">Wassi Kamal Amoussa</a></li>
                <li><a routerLink="/teachers/calin">Calin Jean Pierre</a></li>
                <li><a routerLink="/teachers/isabela">Isabela</a></li>
                <li><a routerLink="/teachers/belvic">Belvic Gangan</a></li>
                <li><a routerLink="/teachers/danny">Danny Perilla Mikán</a></li>

              </ul>
            </li>
            <li> <a routerLink="/about">Sobre</a></li>
            <li><a routerLink="/contact">Contato</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>



