<div id="fh5co-about">
  <div class="container">
    <div class="col-md-6">
      <img class="img-responsive card-image" src="assets/Images/teacher.png" alt="Teacher">
    </div>
    <div class="col-md-6 animate-box">
      <h3>Professor</h3>
      <h1>Calin Jean Pierre</h1>
      <p>Olá! Sou Calin Jean Pierre, sou haitiano, estudante de arquitetura e urbanismo</p>
      <p>Ensino francês, crioulo haitiano e inglês
        trabalho na missão Haiti outreach ministries e sou delegado na associação estudantil  haitiana no Brasil.</p>

      <br/>
      <div>
        <h3>Cursos</h3>
        <div class="container">
          <ul>
            <li><a href="/courses/ingles">Inglês</a></li>
            <li><a href="/courses/frances">Francês</a></li>
            <li><a href="/courses/crioulo">Crioulo</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>


