<div id="fh5co-about">
  <div class="container">
    <div class="col-md-6 animate-box">
      <h3>Curso</h3>
      <h1>Espanhol</h1>
            <p>Originada na Península Ibérica, tem centenas de milhões de falantes nativos nas Américas e na Espanha. É uma língua mundial e a segunda língua mais falada no mundo, depois do mandarim.</p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive card-image" src="assets/Images/spain.jpg" alt="language-img">
    </div>
  </div>
  <br/>

  <div id="fh5co-testimonial" style="background-image: url(images/school.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
          <h2><span>Professores</span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row animate-box">
          <a href="/teachers/danny">
            <div class="testimony-slide active text-center">
              <div class="user" style="background-image: url(assets/Images/teacher.png); background-color: white;"></div>
              <span>Danny Perilla Mikán<br></span>
            </div>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-contact">
    <div class="container">
      <div class="row">

        <div class="col-md-10 animate-box">
          <h3>Inscreva-se</h3>
          <form action="#">
            <div class="row form-group">
              <div class="col-md-12">
                <!-- <label for="fname">First Name</label> -->
                <input type="text" id="fname" class="form-control" placeholder="Nome completo">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <!-- <label for="email">Email</label> -->
                <input type="text" id="email" class="form-control" placeholder="email">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <!-- <label for="email">Email</label> -->
                <input type="text" id="tel" class="form-control" placeholder="Telefone">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
               <select class="form-select input-lg">
                <option selected>Selecione um modulo</option>
                <option value="1">Iniciamente</option>
                <option value="2">Intermediário</option>
                <option value="3">Avançado</option>
              </select>
              </div>
            </div>

            <div class="form-group">
              <input type="submit" value="Enviar" class="btn btn-primary">
            </div>

          </form>
      </div>

    </div>
  </div>


</div>


