<div id="fh5co-staff">
  <div class="container">
    <h1>Professores</h1>
    <hr/>
    <div class="row">

      <div class="col-md-3 text-center">
        <div class="staff">
          <div class="staff-img" style="background-image: url(assets/teachers/kamal.jpg);">
          </div>
          <span>Professor</span>
          <h3><a href="teachers/kamal">Wassi Kamal Amoussa</a></h3>
          <p>Olá! Meu nome é  . Sou professor nativo de yorubá.
            ...<a href="teachers/kamal">mais detalhes</a>
            </p>
        </div>
      </div>

      <div class="col-md-3 text-center">
        <div class="staff">
          <div class="staff-img" style="background-image: url(assets/Images/teacher.png);">
          </div>
          <span>Professor</span>
          <h3><a href="teachers/calin">Calin Jean Pierre</a></h3>
          <p>Olá! Sou Calin Jean Pierre, sou haitiano, estudante de arquitetura e urbanismo.
            ...<a href="teachers/calin">mais detalhes</a>
            </p>
        </div>
      </div>

      <div class="col-md-3 text-center">
        <div class="staff">
          <div class="staff-img" style="background-image: url(assets/Images/teacher.png);">
          </div>
          <span>Professora</span>
          <h3><a href="teachers/isabela">Isabela</a></h3>
          <p>Marhaban! Olá!  Sou Isabela, Pedagoga, bacharel em Letras e pós-graduanda em
            ...<a href="teachers/isabela">mais detalhes</a>
            </p>
        </div>
      </div>

      <div class="col-md-3 text-center">
        <div class="staff">
          <div class="staff-img" style="background-image: url(assets/Images/teacher.png);">
          </div>
          <span>Professora</span>
          <h3><a href="teachers/belvic">Belvic Gangan</a></h3>
          <p>Olá! Sou Belvic Gangan , professora de francês . Sou do Benin e estou no Brasil
            ...<a href="teachers/belvic">mais detalhes</a>
            </p>
        </div>
      </div>

      <div class="col-md-3 text-center">
        <div class="staff">
          <div class="staff-img" style="background-image: url(assets/Images/teacher.png);">
          </div>
          <span>Professor</span>
          <h3><a href="teachers/danny">Danny Perilla Mikán</a></h3>
          <p>Olá! Meu nome é Danny Perilla Mikán e a minha língua materna é o espanhol. Sou da
            ...<a href="teachers/danny">mais detalhes</a>
            </p>
        </div>
      </div>

    </div>
  </div>
</div>
