<div id="fh5co-about">
  <div class="container">
    <div class="col-md-6">
      <img class="img-responsive card-image" src="assets/Images/teacher.png" alt="Teacher">
    </div>
    <div class="col-md-6 animate-box">
      <h3>Professora</h3>
      <h1>Isabela</h1>
      <p>Marhaban! Olá!</p>
      <p>  Sou Isabela, Pedagoga, bacharel em Letras e pós-graduanda em Letras Estrangeiras e Tradução.</p>
      <p>Morei na Palestina, Egito e Líbano , onde estudei e trabalhei. </p>
      <p>Minhas aulas são personalizadas e nelas uso diversos recursos para que o aluno desenvolva todas as competências linguísticas. Ahlan wa Sahlan ! Sejam bem-vindos!.</p>

      <br/>
      <div>
        <h3>Cursos</h3>
        <div class="container">
          <ul>
            <li><a href="/courses/arabe">Árabe</a></li>
            <li><a href="/courses/atim">Latim</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>


