<div id="fh5co-about">
  <div class="container">
    <div class="col-md-6">
      <img class="img-responsive card-image" src="assets/Images/teacher.png" alt="Teacher">
    </div>
    <div class="col-md-6 animate-box">
      <h3>Professor</h3>
      <h1>Danny Perilla Mikán</h1>
      <p>Marhaban!</p>
      <p>Olá! minha língua materna é o espanhol.</p>
      <p>Sou da Colômbia, porém estou morando no Brasil há dois anos. Eu aprendi a falar o Português e comecei aulas de Inglês. Sou Matemático e Físico em formação</p>
      <p>Vim para o Brasil por meio de um intercâmbio acadêmico na Universidade Federal Fluminense, onde tive a oportunidade de ter contato com pessoas de diferentes origens e culturas.</p>
      <p>Eu ensino o Espanol de um jeito mais cotidiano, baseado nas experiências do dia a dia.</p>
      <br/>
      <div>
        <h3>Cursos</h3>
        <div class="container">
          <ul>
            <li><a href="/courses/espanhol">Espanhol</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>


