<div id="fh5co-about">
  <div class="container">
    <div id='custom-effect' class="col-md-6 animate-box">
      <h2>Bem vindo ao Instituto Ominira</h2>
      <p>A compreensão mútua é essencial para uma vida comum harmoniosa.</p>
      <p>Aprender línguas estrangeiras tem muitas vantagens.  O cérebro bilíngue também fica menos distraído, e aprender línguas estrangeiras também melhora a criatividade. Também sabemos que depois de aprender uma primeira língua estrangeira, é menos difícil aprender outras.</p>
      <p>Então o Instituto Ominira visa a:</p>
      <p>- Incentivar e promover a aprendizagem de línguas para enfrentar os desafios da educação universitária internacional e da mobilidade, bem como da vida profissional e da aprendizagem ao longo da vida. <br/>
         - Permitir o desenvolvimento de competências plurilíngues e interculturais com vista à utilização competente das línguas em múltiplos contextos e para diversos fins.<br/>
         - Desenvolver competências linguísticas e de comunicação como competências transversais essenciais a todos os cursos de formação.<br/>
      </p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive card-image" src="assets/Images/liberdade.jpg" alt="Instituto">
    </div>
  </div>
</div>
