<div id="fh5co-about">
  <div class="container">
    <div class="col-md-6">
      <img class="img-responsive card-image" src="assets/Images/teacher.png" alt="Teacher">
    </div>
    <div class="col-md-6 animate-box">
      <h3>Professora</h3>
      <h1>Belvic Gangan</h1>
      <p>Olá! Sou Belvic Gangan , professora de francês.</p>
      <p>Sou do Benin e estou no Brasil há 2 anos como intercambista na faculdade de Jornalismo.</p>
      <p>
        Meu objetivo é fazer as pessoas acreditarem em si mesmas e na possibilidade de aprender uma língua estrangeira em tempo recorde,  sem sair do Brasil!.</p>

      <br/>
      <div>
        <h3>Cursos</h3>
        <div class="container">
          <ul>
            <li><a href="/courses/frances">Francês</a></li>
            <li><a href="/courses/fon">Fon</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>


