<footer id="fh5co-footer" role="contentinfo" style="background-image: url(images/img_bg_4.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-3 fh5co-widget">
        <h3>Sobre o Instituto</h3>
        <p>A compreensão mútua é essencial para uma vida comum harmoniosa.
          Aprender línguas estrangeiras tem muitas vantagens.
          O cérebro bilíngue também fica menos distraído, e aprender línguas estrangeiras também melhora a criatividade.
          </p> <a href="/about">Saiba mais</a>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
        <h3>Cursos</h3>
        <ul class="fh5co-footer-links">
          <li><a href="#">Francês</a></li>
          <li><a href="#">Inglês</a></li>
          <li><a href="#">Árabe</a></li>
          <li><a href="#">Latim</a></li>
          <li><a href="#">Yorubá</a></li>
          <li><a href="#">Kiswahili</a></li>
          <li><a href="#">Crioulo</a></li>
          <li><a href="#">Fon</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">

      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">

      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
        <h3>Legal</h3>
        <ul class="fh5co-footer-links">
          <li><a href="/about">Informações</a></li>
          <li><a href="/contact">Contatos</a></li>
        </ul>
      </div>
    </div>

    <div class="row copyright">
      <div class="col-md-12 text-center">
        <p>
          <small class="block">&copy; 2021 Instituto Ominira. All Rights Reserved.</small>
          <small class="block">institutoominira@gmail.com </small>
          <small class="block">+55 21 98108-3475</small>
        </p>
      </div>
    </div>

  </div>
</footer>
