<div class="row">

  <div class="col-md-6 animate-box">
    <div class="course">
      <a href="/courses/yoruba" class="course-img" style="background-image: url('http://2.bp.blogspot.com/-5mYSCjaN-tA/VfV614LE2bI/AAAAAAAAB3Q/MbpH-o_TrUE/s1600/Yoruba-talking-drum.jpg');">
      </a>
      <div class="desc">
        <h3><a href="/courses/yoruba">Yorubá (èdè Yorùbá)</a></h3>
        <p>Iorubá ou ioruba, por vezes referida como yorubá ou yoruba é um idioma da família linguística nígero-congolesa falado secularmente pelos iorubás em diversos países.</p>
        <span><a href="/courses/yoruba" class="btn btn-primary btn-sm btn-course">Inscreva-se</a></span>
      </div>
    </div>
  </div>

  <div class="col-md-6 animate-box">
    <div class="course">
      <a href="/courses/frances" class="course-img" style="background-image: url('assets/Images/france.jpg');">
      </a>
      <div class="desc">
        <h3><a href="/courses/frances">Francês</a></h3>
        <p>São 500 milhões se incluídos os que a falam como segunda língua ou como língua estrangeira. Além do mais, cerca de 200 milhões de pessoas aprendem francês como língua estrangeira, o que faz dela a segunda língua mais ensinada no mundo seguida do inglês.</p>
        <span><a href="/courses/frances" class="btn btn-primary btn-sm btn-course">Inscreva-se</a></span>
      </div>
    </div>
  </div>

  <div class="col-md-6 animate-box">
    <div class="course">
      <a href="/courses/ingles" class="course-img" style="background-image: url('assets/Images/english.jpg');">
      </a>
      <div class="desc">
        <h3><a href="/courses/ingles">Inglês</a></h3>
        <p>O idioma é amplamente aprendido como uma segunda língua e usado como língua oficial da União Europeia. É o terceiro idioma mais falado em todo o mundo como primeira língua, depois do mandarim e do espanhol.</p>
        <span><a href="/courses/ingles" class="btn btn-primary btn-sm btn-course">Inscreva-se</a></span>
      </div>
    </div>
  </div>

  <div class="col-md-6 animate-box">
    <div class="course">
      <a href="/courses/arabe" class="course-img" style="background-image: url('assets/Images/arabe.jpg');">
      </a>
      <div class="desc">
        <h3><a href="/courses/arabe">Árabe</a></h3>
        <p> É idioma oficial de 26 países, número atrás apenas do inglês e francês, e a língua litúrgica do islamismo, por ser o idioma no qual o Corão, o livro sagrado islâmico, foi escrito. Falada em 58 países, só é menos difundida no mundo do que o inglês.</p>
        <span><a href="/courses/arabe" class="btn btn-primary btn-sm btn-course">Inscreva-se</a></span>
      </div>
    </div>
  </div>

  <div class="col-md-6 animate-box">
    <div class="course">
      <a href="/courses/latim" class="course-img" style="background-image: url('assets/Images/latim.jpg');">
      </a>
      <div class="desc">
        <h3><a href="/courses/latim">Latim</a></h3>
        <p>O latim é o ancestral das línguas neolatinas (italiano, francês, espanhol, português, romeno, catalão, romanche, galego, occitano, mirandês, sardo e outros idiomas e dialetos regionais da área).</p>
        <span><a href="/courses/latim" class="btn btn-primary btn-sm btn-course">Inscreva-se</a></span>
      </div>
    </div>
  </div>

  <div class="col-md-6 animate-box">
    <div class="course">
      <a href="/courses/kiswahili" class="course-img" style="background-image: url('assets/Images/kiswahili.jpg');">
      </a>
      <div class="desc">
        <h3><a href="/courses/kiswahili">Kiswahili</a></h3>
        <p>O suaíli ou suaíle (Kiswahili), também chamado de suahíli e conhecido pelas formas vernáculas Swahili ou Kiswahili, é a língua banta com o maior número de falantes. É falada por cinquenta milhões de pessoas no mundo</p>
        <span><a href="/courses/kiswahili" class="btn btn-primary btn-sm btn-course">Inscreva-se</a></span>
      </div>
    </div>
  </div>

  <div class="col-md-6 animate-box">
    <div class="course">
      <a href="/courses/crioulo" class="course-img" style="background-image: url('assets/Images/world.jpg');">
      </a>
      <div class="desc">
        <h3><a href="/courses/crioulo">Crioulo</a></h3>
        <p>Uma língua crioula é uma língua natural que se distingue das restantes devido a três características: o seu processo de formação, a sua relação com uma língua de prestígio e algumas particularidades gramaticais.</p>
        <span><a href="/courses/crioulo" class="btn btn-primary btn-sm btn-course">Inscreva-se</a></span>
      </div>
    </div>
  </div>

  <div class="col-md-6 animate-box">
    <div class="course">
      <a href="/courses/fon" class="course-img" style="background-image: url('assets/Images/world.jpg');">
      </a>
      <div class="desc">
        <h3><a href="/courses/fon">Fon</a></h3>
        <p>É a língua majoritária e conta com aproximadamente 1,7 milhões de falantes - cerca da metade da população - mais concentrados no sul e no centro do país. Também é falada por outras 35 500 pessoas, distribuídas entre o centro e o sul do Togo, e o sudoeste da Nigéria..</p>
        <span><a href="/courses/fon" class="btn btn-primary btn-sm btn-course">Inscreva-se</a></span>
      </div>
    </div>
  </div>

  <div class="col-md-6 animate-box">
    <div class="course">
      <a href="/courses/espanhol" class="course-img" style="background-image: url('assets/Images/spain.jpg');">
      </a>
      <div class="desc">
        <h3><a href="/courses/espanhol">Espanhol</a></h3>
        <p>Originada na Península Ibérica, tem centenas de milhões de falantes nativos nas Américas e na Espanha. É uma língua mundial e a segunda língua mais falada no mundo, depois do mandarim.</p>
        <span><a href="/courses/espanhol" class="btn btn-primary btn-sm btn-course">Inscreva-se</a> </span>
      </div>
    </div>
  </div>


</div>
