<div id="fh5co-about">
  <div class="container">
    <div class="col-md-6">
      <img class="img-responsive card-image" src="assets/teachers/kamal.jpg" alt="Kamal">
    </div>
    <div class="col-md-6 animate-box">
      <h3>Professor</h3>
      <h1>Wassi Kamal Amoussa</h1>
      <p>Sou professor nativo de yorubá.</p>
      <p>Eu sou de Benim e dou aula de yorubá no Brasil desde 2018.</p>
      <p>
        Eu participei em varios projetos de contato das crianças brasileira com a cultura yoruba.
        Ensino yoruba em universidades e escola brasileira.
         Eu sou apaixonado pelo ensino da minha língua e da minha cultura.</p>

      <p>Meu objetivo principal através do meu método é de ajudar o povo brasileiro que está em busca da sua origem cultural a se sentir mas próximo dela ainda.</p>
      <br/>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/qAZbCLfBBpM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br/>
      <div>
        <h3>Cursos</h3>
        <div class="container">
          <ul>
            <li><a href="/courses/yoruba">Yorubá</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>


